* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: linear-gradient(45deg, #fad047, #fda085);
  min-height: 94vh;
  min-width: 50vh;
  color: white;
}
header {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}
header,
form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  margin-left: 15px;
}
input:focus {
  outline: none;
}
form input,
form button {
  border: none;
  padding: 0.7rem;
  background: white;
  box-shadow: 2px 5px 5px rgb(95, 94, 94);
  font-size: 1.5rem;
  font-family: "Courgette", cursive;
}
form button {
  color: #ff6f47;
  background: white;
  margin-left: 2px;
  cursor: pointer;
}
form button:hover {
  color: white;
  background: #ff6f47;
}
.soft {
  border-radius: 3px;
}
.clear i {
  margin-left: 8px;
}
.clear {
  position: fixed;
  border: none;
  box-shadow: 2px 5px 5px rgb(95, 94, 94);
  bottom: 20px;
  margin-left: 50%;
  padding: 3px 3px 3px 3px;
  font-size: 15px;
  cursor: pointer;
}
.grocery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.grocery-list {
  list-style: none;
  min-width: 30%;
}
.list_item {
  background: white;
  color: black;
  margin-top: 0.8rem;
  box-shadow: 2px 5px 5px rgb(95, 94, 94);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courgette", cursive;
  transition: all 0.8s ease;
}
.item {
  color: black;
  font-size: 1.5rem;
  flex: 1;
  padding: 0.5rem;
  margin-left: 5px;
}
.trash-btn,
.check-btn,
.fa-broom {
  background: #ff6f47;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}
.check-btn {
  background: rgb(56, 199, 56);
}
.fas {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
.swipe {
  transform: translateX(10rem);
  opacity: 0;
}
.clear {
  background: #ff6f47;
  color: white;
  font-family: "Exo", sans-serif;
}
select {
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 5px 5px rgb(95, 94, 94);
}
select {
  color: #ff6f47;
  font-family: "Exo", sans-serif;
  cursor: pointer;
  width: 8rem;
  padding: 0.8rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
